$red: #f56565;
$dark-gray: #4a5667;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    // outline: 1px solid red !important;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

html,
body {
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    margin: 0;
}

body {
    color: $dark-gray;
    overflow: hidden;
}

.divider {
    &::before {
        background: $red;
        content: '';
        flex: 1;
        height: 0.1rem;
        margin: 0 2rem;
        width: 100%;
    }

    &::after {
        background: $red;
        content: '';
        flex: 1;
        height: 0.1rem;
        margin: 0 2rem;
        width: 100%;
    }
}
